%html
  %div.UserDisp
    .header
      .profile_photo_img
        =image_tag 'profilePic.png', alt: 'Profile Picture', size: '142x142';
      .header_content
        .greeting #{current_user.first_name.to_s.capitalize} #{current_user.last_name.to_s.capitalize}
        .profileDesc
          #age add age
        .profileDesc
          #location add location

  .top_bar_container
    %ul
      %li
        %a{href: '#'} Inbox
      %li
        %a{href: '#'} Appointments
      %li
        %a{href: '#'} Lists
      %li
        %a{href: '#'} Metrics

  %div.dashboard_content{:id => "container"}
    %div{:id=>"inboxCon"}
      =render 'inbox'


